[submodule "indicator_templates"]
	path = indicator_templates
	url = git@github.com:vtraag/indicator_templates.git
[submodule "causal_intro"]
	path = causal_intro
	url = git@github.com:vtraag/causal_intro.git
